.project-box-wrapper {
    width: 33%;
    height: 95%;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
.project-box-wrapper::-webkit-scrollbar {
    display: none;
}